name: First Workflow
on: 
  push: 
    branches:
      - main
jobs:
  example-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print a welcome message
        run: echo "welcome to our first Github Actions Workflpow"
      - name: Checkout repository
        uses: actions/checkout@v6-beta

      - name: list repository files
        run: ls -la
        
      
